
.back{
    background: whitesmoke; 
    
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 768px;
}
.container h1{
    padding: 20px;
}
.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.home h1{
    padding: 20px;
}
.container2{
    background: whitesmoke;
    display: flex;
    margin:0 auto; 
}
article{
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
    display: flex !important;
    border-radius: 10px;
    background: whitesmoke;
    width:90%;
    height: 80%;
    
}

article .article-image{
    background: blueviolet;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border-radius: 10px;
    flex: none;
}
article .article-text h1{
    margin: 0;
    font-size: 16px;
}

.container1{
    display: flex;
    justify-content: center;
    padding :0px;
}
.header{
    display: flex;
    background:red;
    border: 3px solid black;
}
.header h1{
   padding-left: 900px; 
}
.list{
    display: flex;
}
.list li{
    margin:20px;
}
button{
    border-radius: 4px;
}
button.button-prymary{
    background: orchid;
}
button.button-error{
    background: palegreen;
}
button.button-second{
    background: blue;
}
#prev{
    position: absolute;
    top: 50%;
}
#next{
    position: absolute;
    right:0;
    top: 50%;
}
.container3{
    display: flex;
    justify-content: space-between;
    padding:20px;
    max-width: 992px;
    margin: 0 auto;

}
body{
    font-family:sans-serif;
}
.homee{
    display:flex;  
}
.home3{
    padding-right: 60px;
}
.slider{
    display: flex;
    overflow: hidden;
}
.slider div{
    background: blue;
    height:300px;
    border: 1px solid;
    width: 100%;
    flex: none;
    transition: 3;
}
div.slide-1{
    background: olive;
}

div.slide-2{
    background: orange;
}
div.slide-3{
    background: orchid;
}

/* .pemb{
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding:20px;
    max-width: 100%;
} */
.pem{
    max-width: 960px;
    margin: 0 auto;
    
}
.pem2{
  margin-bottom:20px;
  position: relative;
    
}

div.list-blog {
    box-sizing: border-box;
  }
  
  .list-blog{
    display: flex; 
    flex-wrap:wrap;
  }
  .list-blog .blog-item{
    height:300px;
    background:#ddd;
    width:50%;
    border: 4px solid #fff;
  }
/* @media(max-width:576px){
    .list-blog .blog-item{
        width: 100%;
} */
.footer{
    background: whitesmoke;
    
  }
